* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.05);
	font-family: sans-serif;
}

header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	position: fixed;
	text-align: center;
	width: 95%;
	height: 100px;
	font-size: 20px;
	top: 0;
	left: 0;
	z-index: 1000;
}

nav {
	display: flex;
	gap: 10px;
	font-weight: bold;
}
nav a {
	color: black;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
	color: #333;
}
.hero {
	padding-top: 200px;
	display: flex;
	width: 60%;
	gap: 100px;
	margin: 0 auto;
}
.hero-info h1 {
	font-size: 56px;
	font-weight: bold;
	color: black;
}
.hero-info p {
	font-weight: lighter;
	color: gray (3, 0, 0);
	font-size: 15px;
}
.hero-header {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.hero .hero-img {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	animation: morph 8s infinite;
}

@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
	}
	100% {
		border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
}

.icon {
	display: flex;
	gap: 20px;
}

.stack {
	margin-top: 100px;
	display: flex;
	gap: 50px;
	align-items: center;
}

.stack ul {
	display: flex;
	gap: 30px;
	width: 80px;
}

.ernur-rotation {
	position: relative;
	display: inline-block;
}

.ernur {
	width: 450px;
	padding: 100px 0px 30px 0px;
	border-radius: 10px;
	margin: 20px;
	position: relative;
	overflow: hidden;
}

#simple_arc {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	animation: rotateWord 10s linear infinite;
}

@keyframes rotateWord {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#simple_arc > span[class^='w'] {
	display: block;
	position: absolute;
	font-family: 'Viga';
	font-size: 14px;
	font-weight: normal; /* Change regular to normal */
	font-style: normal;
	line-height: 1; /* Adjust line height */
	white-space: nowrap; /* Avoid wrapping */
	padding: 0;
	transform-origin: 50% 50%;
	text-align: center; /* Center align the text */
}

/* .w22 {
	transform: rotate(0deg);
	top: 0;
	left: 50%;
	transform-origin: center bottom;
}

.w21 {
	transform: rotate(15deg);
	top: 5%;
	left: 65%;
	transform-origin: center bottom;
}

.w20 {
	transform: rotate(30deg);
	top: 15%;
	left: 75%;
	transform-origin: center bottom;
}

.w19 {
	transform: rotate(45deg);
	top: 30%;
	left: 82%;
	transform-origin: center bottom;
}

.w18 {
	transform: rotate(60deg);
	top: 45%;
	left: 87%;
	transform-origin: center bottom;
}

.w17 {
	transform: rotate(75deg);
	top: 60%;
	left: 87%;
	transform-origin: center bottom;
}

.w16 {
	transform: rotate(90deg);
	top: 75%;
	left: 82%;
	transform-origin: center bottom;
}

.w15 {
	transform: rotate(105deg);
	top: 85%;
	left: 75%;
	transform-origin: center bottom;
}

.w14 {
	transform: rotate(120deg);
	top: 95%;
	left: 65%;
	transform-origin: center bottom;
}

.w13 {
	transform: rotate(135deg);
	top: 100%;
	left: 50%;
	transform-origin: center bottom;
}

.w12 {
	transform: rotate(150deg);
	top: 95%;
	left: 35%;
	transform-origin: center bottom;
}

.w11 {
	transform: rotate(165deg);
	top: 85%;
	left: 25%;
	transform-origin: center bottom;
}

.w10 {
	transform: rotate(180deg);
	top: 75%;
	left: 18%;
	transform-origin: center bottom;
}

.w9 {
	transform: rotate(195deg);
	top: 60%;
	left: 13%;
	transform-origin: center bottom;
}

.w8 {
	transform: rotate(210deg);
	top: 45%;
	left: 13%;
	transform-origin: center bottom;
}

.w7 {
	transform: rotate(225deg);
	top: 30%;
	left: 18%;
	transform-origin: center bottom;
}

.w6 {
	transform: rotate(240deg);
	top: 15%;
	left: 25%;
	transform-origin: center bottom;
}

.w5 {
	transform: rotate(255deg);
	top: 5%;
	left: 35%;
	transform-origin: center bottom;
}

.w4 {
	transform: rotate(270deg);
	top: 0;
	left: 50%;
	transform-origin: center bottom;
}

.w3 {
	transform: rotate(285deg);
	top: 5%;
	left: 65%;
	transform-origin: center bottom;
}

.w2 {
	transform: rotate(300deg);
	top: 15%;
	left: 75%;
	transform-origin: center bottom;
} */

.w2 {
	transform: translate(50%, 0%) rotate(0deg);
}
.w1 {
	transform: translate(72%, 15%) rotate(36deg);
}
.w0 {
	transform: translate(85%, 38%) rotate(72deg);
}

.about {
	background-color: #fff;
	width: 100%;
	padding: 0;
}

.about_us {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 30px;
}

.about-container {
	width: 60%;
}

.hero-container {
	gap: 40px;
	display: flex;
	padding: 100px 0px 100px 0px;
}
.about_par {
	color: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	display: inline;
}

.post {
	color: rgb(81, 125, 255);
}
.post_1 {
	font-size: 30px;
}

.new {
	width: 100%;
	height: 200px;
}

.new_p {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
	font-size: 35px;
	font-weight: 700;
}
.contact {
	font-weight: 600;
	width: 100%;
	height: 300px;
	font-size: 24px;
	background-color: white;
}
.contact-wrapper {
	width: 80%;
	margin: auto;
}

.paragraph {
	font-size: 25px;
	display: flex;
	color: aliceblue;
	text-align: center;
	align-items: center;
	padding: 80px 100px;
}

.shy {
	font-size: 40px;
	font-weight: 600;
	padding: 3px 0px 20px 0px;
}

.contact_p {
	font-size: 20px;
	color: rgb(91, 151, 255);
	font-weight: 600;
	padding: 80px 0px 12px 0px;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	width: 100%;
	height: 200px;
	background-color: #293133;
}
.icons {
	display: flex;
	gap: 15px;
	padding: 100px;
}
nav a:hover {
	color: blue;
}
.contact_2 {
	display: flex;
	align-items: center;
	gap: 100px;
}
.contact_wrap {
	display: flex;
	gap: 10px;
}

.contact-icon {
	color: blue;
	border-radius: 100%;
	background-color: white;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
}

.stack {
	margin-bottom: 100px;
	color: black !important;
}
.palka {
	font-size: 100px;
}
